themes/twentytwentythree/*
themes/twentytwentyfour/*
themes/twentytwentyfive/*

/plugins/*
/languages/*
/maintenance/*
/updraft/*
/backups-dup-lite/*
/uploads
.vscode/settings.json
themes/ifd-college/access.log.12.3
debug.log
wf-licensing.log
ai1wm-backups/*
themes/ms-lms-starter-theme/*
