

// -------


// -------
h1 {
    font-family: var(--e-global-typography-h1-font-family);
    font-weight: var(--e-global-typography-h1-font-weight);
	font-size: var(--e-global-typography-h1-font-size);
	line-height: var(--e-global-typography-h1-line-height);
	text-transform: uppercase;

  @include breakpoint($md){
	font-size: var(--e-global-typography-h1-font-size_lg);
	line-height: var(--e-global-typography-h1-line-height_lg);
  }
}
